@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {

  --color-primary: #1C488C;
  --color-secondary: #20B2AA;
  --color-tertiary: #FF8C00;

  --font-intertight: "Inter Tight", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

.tiptap-content h1 { font-size: 2.25rem; line-height: 2.5rem; font-weight: 700; }
.tiptap-content h2 { font-size: 1.5rem; line-height: 2rem; font-weight: 600; }

.tiptap-content ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem; /* indent */
  margin: 0 0 0.75rem 0;
}
.tiptap-content ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
  margin: 0 0 0.75rem 0;
}
.tiptap-content li {
  margin: 0.25rem 0;
}